/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.symbin-login-ui .symbin-login-title {
  position: absolute;
  top: 90px;
  left: 70px;
  font-size: 26px;
  z-index: 10;
}

.symbin-login-ui .symbin-login-form {
  width: 60vw;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 1000px;
  max-width: 1300px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.symbin-login-ui .symbin-login-form .symbin-login-C {
  position: absolute;
  width: 33%;
  height: 77.5%;
  left: 6%;
  bottom: 30px;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-login-error {
  height: 80px;
  color: #f00;
  position: relative;
  top: 30px;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-login-form-item {
  text-align: center;
  border-bottom: 1px solid  #ccc;
  width: 100%;
  margin: 30px auto;
  height: 38px;
  line-height: 38px;
  position: relative;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-login-form-item span {
  display: inline-block;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-login-form-item span.symbin-getcode {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-login-form-item span img {
  width: 20px;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-login-form-item input {
  font-size: 18px;
  padding-left: 4%;
  height: 36px;
  border: none;
  width: 88%;
  outline: none;
  background: transparent;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-forget-pass {
  width: 140px;
  text-align: center;
  margin: 30px auto;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-forget-pass span {
  cursor: pointer;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-forget-pass span:hover {
  color: #f00;
  text-decoration: underline;
}

.symbin-login-ui .symbin-login-form .symbin-login-C .symbin-login-btn {
  width: 100%;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  border-radius: 30px;
  color: #fff;
  background: #4be293;
  text-align: center;
  margin: 20px auto;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C {
  position: absolute;
  width: 33%;
  height: 75%;
  left: 6%;
  bottom: 30px;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-reg-item {
  position: relative;
  height: 50px;
  margin: 10px 0;
  line-height: 70px;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-reg-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #333;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-reg-item .symbin-getcode {
  position: absolute;
  right: 0;
  height: 80%;
  bottom: 0;
  line-height: 40px;
  cursor: pointer;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-reg-item input {
  font-size: 18px;
  padding-left: 1%;
  height: 36px;
  border: none;
  width: 88%;
  outline: none;
  background: transparent;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-reg-item input::-webkit-input-placeholder {
  font-size: 14px;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-go-login {
  text-align: center;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-go-login span {
  color: #4be293;
  cursor: pointer;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-reg-btn {
  width: 100%;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  border-radius: 30px;
  color: #fff;
  background: #4be293;
  text-align: center;
  margin: 20px auto;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-agreement {
  margin-top: 20px;
  color: #d1d1d1;
  cursor: pointer;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-agreement span {
  color: #979696;
}

.symbin-login-ui .symbin-login-form .symbin-reg-C .symbin-agreement input {
  vertical-align: middle;
}

.symbin-login-ui .symbin-login-form .symbin-reg-title {
  position: absolute;
  top: 6.4%;
  font-size: 16px;
  left: 23%;
}

.symbin-login-ui .symbin-login-form .symbin-reg-title:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  top: 8px;
  background: #656965;
  left: -15%;
}

.symbin-login-ui .symbin-copyright {
  position: absolute;
  width: 100%;
  height: 100px;
  line-height: 100px;
  left: 0;
  bottom: 0;
  z-index: 1200;
  text-align: center;
}

.symbin-login-ui .ivu-tabs-nav-container {
  outline: none;
}

@keyframes scale {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .7;
  }
  100% {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
}
